<h2>Combined metric for Publications</h2>
<form #pu="ngForm" (ngSubmit)="getpu()">

  <p>SELECT YEAR</p>

  <select (change)="update($event)"  style="width: 50%; height:30px" >
    <div>

    </div>
    <option value="default"></option>
    <option *ngFor="let year of years" [value]="year">
        {{year}}
    </option>
</select>
<br>
<label for="no_publications">number of publications</label>
<input type="number" class="form-control form-control-sm " min="0" oninput="validity.valid || (value='')"   id="no_publications" name="no_publications"  [(ngModel)]="number_of_publications" formcontrol="number_publications">
        <p *ngIf="number_publications && number_publications.touched && number_publications?.hasError('required')" class="text-danger"> **FIELD REQUIRD</p>
<br>
  <button type="submit">submit</button>

</form>
