
<form #fppp="ngForm" (ngSubmit)="getfppp()" >

  <p>SELECT YEAR</p>

  <select (change)="update($event)"  style="width: 50%; height:30px" >
    <div>

    </div>

    <option *ngFor="let year of years" [value]="year">
        {{year}}
    </option>
</select>

<br>
<br>
<label for="no_publications">RF is the average annual research funding earnings (amount received in rupees) at
  institute level</label>
<input type="number" class="form-control form-control-sm " min="0" oninput="validity.valid || (value='')"   id="no_publications" name="RF"  [(ngModel)]="research_fundings" formcontrol="number_publications">
        <p *ngIf="research_fund && research_fund.touched && research_fund?.hasError('required')" class="text-danger"> **FIELD REQUIRD</p>
<br>

<label for="no_publications">CF is the average annual consultancy amount (amount actually received in rupees)
  at institute level
  </label>
<input type="number" class="form-control form-control-sm " min="0" oninput="validity.valid || (value='')"   id="no_publications" name="CF"  [(ngModel)]="consultation_fundings" formcontrol="number_publications">
        <p *ngIf="const_funding && const_funding.touched && const_funding?.hasError('required')" class="text-danger"> **FIELD REQUIRD</p>
<br>
<br>
<label for="no_publications"> Average annual earnings from Full Time Executive Development Programs of a
  minimum duration of one year
  </label>
<input type="number" class="form-control form-control-sm " min="0" oninput="validity.valid || (value='')"   id="no_publications" name="edp"  [(ngModel)]="edp_fundings" formcontrol="edp_fund">
        <p *ngIf="edp_fund && edp_fund.touched && edp_fund?.hasError('required')" class="text-danger"> **FIELD REQUIRD</p>
<br>
<br>
  <button type="submit" *ngIf="selectedYear && research_fundings && consultation_fundings && edp_fundings">submit</button>

</form>
