<!-- <form (ngSubmit)="getEscs()">
  <p>SELECT YEAR</p>

   <select (change)="update($event)"  style="width: 50%; height:30px" formControlName="selectedYear">
     <div>

     </div>
     <option value="default"></option>
     <option *ngFor="let year of years" [value]="year">
         {{year}}
     </option>
 </select>
 <br>
   <label for="studentsFromOthStates">total number of Students from other state </label>
   <input type="number" class="form-control form-control-sm " min="0" oninput="validity.valid || (value='')"  studentsFromOthStates ngModel id="studentsFromOthStates" name="studentsFromOthStates"
         formControlName="oth_states">
         <p *ngIf="ug_Students && ug_Students.touched && ug_Students?.hasError('required')" class="text-danger"> **FIELD REQUIRD</p>

         <label for="studentsFromOthCntry">total number of Students from other countries </label>
         <input type="number" class="form-control form-control-sm " min="0" oninput="validity.valid || (value='')"  studentsFromOthStates ngModel id="studentsFromOthStates" name="studentsFromOthStates"
               formControlName="oth_countries">
               <p *ngIf="pg_students && pg_students.touched && pg_students?.hasError('required')" class="text-danger"> **FIELD REQUIRD</p>
 {{studentsFromOthStates}}
 {{studentsFromOthCntry}}
 <br>
 <button type="submit" >SAVE AND UPDATE</button>
 </form> -->
 <h4> UG and *PG students being provided full tuition fee
  rembursement by the institution to pursue their degree programs.</h4>
 <form #escs="ngForm" (ngSubmit)="getEscs()">
  <br>

  <p>SELECT YEAR</p>

  <select (change)="update($event)"  style="width: 50%; height:30px" >
    <div>

    </div>

    <option *ngFor="let year of years" [value]="year">
        {{year}}
    </option>
</select>
<br>
  <label for="students_full_fees">Enter the number of students </label>
  <input type="number" class="form-control form-control-sm " min="0" oninput="validity.valid || (value='')"   id="students_full_fees" name="students_full_fees" [(ngModel)]="students_full_fees"  >
        <p *ngIf="fees && fees.touched && fees?.hasError('required')" class="text-danger"> **FIELD REQUIRD</p>


<br>
<button type="submit" >SAVE AND UPDATE</button>
 </form>
