<form #wd="ngForm" (ngSubmit)="getWD()">
  <h4>select the year</h4>
    <select (change)="update($event)"  style="width: 50%; height:30px">
      <div>

      </div>
      <option value="default"></option>
      <option *ngFor="let year of years" [value]="year">
          {{year}}
      </option>
  </select>
  <br>
  <br>
  <label for="women_students"><h4>total number of Women Students</h4></label>
    <input type="number" class="form-control form-control-sm " min="0" oninput="validity.valid || (value='')"  id="women_students" name="women_students" [(ngModel)]="totalWomenStudents"
        >
<br>

          <label for="women_faculty"><h4>total number of Women Faculty </h4></label>
          <label for="women_faculty">(including women members in senior
            administrative positions, such as Heads of Departments, Deans or Institute Heads.)</label>
          <input type="number" class="form-control form-control-sm " min="0" oninput="validity.valid || (value='')"  [(ngModel)]="totalWomenFaculty" id="women_faculty" name="women_faculty"
                >
                <br>
                <br>
  <button type="submit">Save Data</button>




